@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

    /*
          #305371 for background
          #2C5779 nav bar 
        */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      background: #305371;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
    }

    .content {
      height: 200vh;
      background-image: url(//unsplash.it/1000/1000);
      background-color: #333;
      /*    */
      background-blend-mode: multiply;
      background-size: cover;
      display: grid;
      place-items: center;
    }

    /* navigation styles start here */

    header {
      background: var(--background);
      text-align: center;
      position: fixed;
      z-index: 999;
      width: 100%;
    }

    .searchBar {
      width: 100%;
      display: block;
    }

    input[ type=text] {
      width: 80%;
      padding: 15px;
      border: none;
      font-size: 18px;
      font-family: 'Work Sans', sans-serif;
      border-radius: 5px 0 0 5px;
      margin-top: 20%;
      margin-left: 10%;
      width: 70%;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .5);
    }

    .submit_button {
      padding: 15px;
      border: none;
      font-size: 18px;
      font-family: 'Work Sans', sans-serif;
      background: rgba(167, 204, 33, 0);
      color: white;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      background: lightcoral;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .5);
    }

    .trackInfo {
      background: white;
      padding-top: 25px;
      padding-bottom: 25px;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .5);
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      width: 80%;
      border-radius: 3px;
    }

    .results {
      padding-left: 10%;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid lightcoral;
      border-radius: 5px;
    }

    .info {
      padding-left: 5%;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.8;
      font-size: 28px;

    }

    /*stuff i just found online*/
    .nav-toggle {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }

    .nav-toggle:focus~.nav-toggle-label {
      outline: 3px solid rgba(lightblue, .75);
    }

    .nav-toggle-label {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 1em;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      display: block;
      background: white;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      content: '';
      position: absolute;
    }

    .nav-toggle-label span::before {
      bottom: 7px;
    }

    .nav-toggle-label span::after {
      top: 7px;
    }

    nav {
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      background: var(--background);
      width: 100%;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 400ms ease-in-out;
    }

    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    nav li {
      margin-bottom: 1em;
      margin-left: 1em;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    nav a:hover {
      color: #000;
    }

    .nav-toggle:checked~nav {
      transform: scale(1, 1);
    }

    .nav-toggle:checked~nav a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }


    @media screen and (min-width: 800px) {


      .nav-toggle-label {
        display: none;
      }

      header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
      }

      .logo {
        grid-column: 2 / 3;
        font-size: 350%;
      }

      nav {
        /*  this block needed for edge support*/
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;

        /*grid for where to align title */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      nav ul {
        display: flex;
      }

      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }

      nav a {
        opacity: 1;
        position: relative;
      }

      nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }

      nav a:hover::before {
        transform: scale(1, 1);
      }
    }
    button:hover {
        background: #5c5b5b;
        cursor: pointer;
      }