/*dividers for manager top bar*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pic_column {
  float: left;
  width: 100px;
}
.title_column {
  float: left;
  width: 80%;
  font-family: arial;
  font-size: 80px;
}

.list{
  margin-top:10px;
  margin-left:3%;
  margin-right:3%;
  width: 93%;
  resize:none;
}
.list2{
  
  border: 5px solid black;
  margin-top:10px;
  margin-left:3%;
  margin-right:3%;
  width: 93%;
  resize:none;
  background-color:rgb(240, 240, 240);
}

.text-center {
  margin-top:10px;
  text-align: center !important;
}

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-primary {
  color: #ffffff;
  background-color: #2C5779;
  border-color: #000000;
}

.body {
  width: 90%;
  height: 200px;
  background-color: #073B6B;
}
.col_title{
  float:left;
  position:relative;
  width:30%;
  height:19.667px;
  text-align: center;
  border-right:3px solid lightskyblue;
  border-bottom:3px solid lightskyblue;
}
.col_xtitle{ 
  float:left;
  width:35%;
  text-align: center;
  border-right:3px solid lightskyblue;
  border-bottom:3px solid lightskyblue;
}
.col_results{
  float:left;
  width:32%;
  border-right:3px solid lightskyblue;
  border-bottom:3px solid lightskyblue;
}
.col_xresults{
  float:left;
  width:35%;
  border-right:3px solid lightskyblue;
  border-bottom:3px solid lightskyblue;
}

.buttons {   
  position: absolute;
  /*top: 35%;
  left: 30%;*/
  transform: translate(-50%, -50%);
  color:rgb(0, 0, 0);
  width: 120px;
  height: 80px;
  border: 2px solid #fff;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;  
}

.new_mailstop{
  position:absolute;
  top: 20%;
  right:10%;
  width:80%;
  height:70%;
  background-color: rgb(255,255,255);
  z-index:5;
}
#overlay {
position: fixed; 

width: 100%; 
height: 100%; 
top: 0; 
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); 
z-index: 5; 
cursor: pointer; 
}

.exit_button{
  position:absolute;
  top:20%;
  right:10%;
  z-index:10;

}