{% load staticfiles %}

<html>

<head>
	<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Compiled and minified CSS -->
		<link href="{% static 'css/general_design.css' %}" rel="stylesheet">
		<link href="{% static 'css/mailstop.css' %}" rel="stylesheet">
		<!---->
		<title>Cruz Mail</title>



		<header style="background:#01589d; height: 20%">
			<h1 class="logo" style="color:white;"><img img style="width:.75em;" src="../static/img/pages/thumbnail_mailstop.png"> Mailstops</h1>
			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a class="nav-link" href="{% url 'menu' %}">Home</a></li>
					<li><a class="nav-link" href="{% url 'logging_out' %}">Logout</a></li>
				</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
				<span></span>
			</label>
		</header>
	</head>

<body>
	<!--...................................Header for People................................................................-->
	<div id="mailstop_view">

		<div class="body" style="background-color:white; height:20%;">
		</div>

		<textarea placeholder="Search for Mailstops..." class="list" style="background-color: rgb(236, 236, 250)" v-model="test">
		    ${test}
	    </textarea>

		<button v-on:click="queryMailstop();" style= "position:relative; left:47%; transform:translateX(-47%);">Search</button>

		<!-- adding new mailstop overlay -->
		<div id="overlay" v-if="newMailstopView==true">
		
			
			<div class="new_mailstop" style="overflow:scroll; overflow-x:hidden;">
				<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button"  v-on:click="newMailstopView=false;">
					<img src="../static/img/tools/exit_button.png">
				</div>
				<h1 style="text-align: center;">New Mailstop</h1>

				<br><strong>Mailstop ID *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_mailstop">
				    ${new_mailstop}
			    </textarea>

				<br><strong>Mailstop Name *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_ms_name">
				    ${new_ms_name}
			    </textarea>

				<br><strong>Route *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_ms_route">
				    ${new_ms_route}
			    </textarea>

				<br><strong>Order *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_ms_route_order">
				    ${new_ms_route_order}
			    </textarea>

				<br>
				<button v-on:click="addMailstop(); newMailstopView = false;" onclick="location.reload();" style="position:relative; left:50%; transform:translateX(-50%);">Add Mailstop</button>
			</div>
		</div>

		<!-- Import overlay -->
		<div id="overlay" v-if="newImportView==true">
			
			
			<div class="new_import" style="overflow:scroll; overflow-x:hidden;">
				<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button" v-on:click="newImportView=false;">
					<img src="../static/img/tools/exit_button.png">
				</div>
				<h1 style="text-align: center;">Import CSV</h1>
				<form action="{% url 'import_mailstops' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
					{% csrf_token %}
					<div class="form-group">
							<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
							<div class="col-md-8">
									<input type="file" name="mailstop_csv" id="mailstop_csv" required="True" class="form-control">
							</div>                    
					</div>
					<div class="form-group">                    
							<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
								<button v-on:click="newImportView = false;" style="position:relative; left:50%; transform:translateX(-50%);">Upload</button>
							</div> 
					</div>
					</form>
			</div>
		</div>

		<!--...................................List Of Mailstops................................................................-->
		<div class="list2">
			<div class="row">

				<div class="col_xtitle" style=" width:30%;">

					<div style="float:left;">
						<input type="checkbox" v-on:click="change_to_true();" v-model="allTrue">
						</input>
					</div>
					Status

				</div>
				<div class="col_xtitle" style=" width:35%; ">
					ID
				</div>
				<div class="col_xtitle" style="width:35%; ">
					Name
				</div>

			</div>
			<div style="border-bottom:10px;"></div>

			<div style="overflow:scroll; height: 50%; overflow-x:hidden; overflow-y:overlay;">
				<div v-for="info in Info" class="row" style="width:100%">

					<div v-if="info.index != currentView">
						<div class="col_title" style="width:30%;">
							<div style="float:left;">
								<input type="checkbox" v-model="info.isActive">
								</input>
							</div>

							<div v-on:click="currentView = info.index">
								${info.ms_status}
							</div>
						</div>
						<div class="col_title" style="width:35%;" v-on:click="currentView = info.index">
							${info.mailstop}
						</div>
						<div class="col_title" style="width:35%;" v-on:click="currentView = info.index">
							${info.ms_name}
						</div>
					</div>
					
					<div v-if="info.index == currentView">

							<!--exit button-->
							
		
								<!--rest of popup for mailstop details-->
							<div class="new_mailstop" style="overflow:scroll; overflow-x:hidden;">
								<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button" v-on:click="currentView=-1">
									<img src="../static/img/tools/exit_button.png">
								</div>
								<h1 style="text-align: center;">Mailstop Information</h1>
								<br>&nbsp;&nbsp;<strong>Route</strong>
								<textarea style="background-color: rgb(236, 236, 250)" v-model="info.ms_route">
									${info.ms_route}
								</textarea>
	
								<br>&nbsp;&nbsp;<strong>Order</strong>
								<textarea style="background-color: rgb(236, 236, 250)" v-model="info.ms_route_order">
									${info.ms_route_order}
								</textarea>
	
								<br>
								<button v-on:click="updateMailstop()" onclick="location.reload();" style="position:relative; left:50%; transform:translateX(-50%);">
									Update
								</button>
	
							</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<!--<button class="btn btn-primary" v-on:click="newMailstopView = true;">New Mailstop</button> -->
			<!--<button class="btn btn-primary" v-on:click="deactivateMailstop();" onclick="location.reload();">Deactivate Mailstop</button>-->
{% if request.user.is_superuser %}
      <a href="{% url 'export_mailstops' %}" class="btn btn-primary">Export to CSV</a>
			<button class="btn btn-primary" v-on:click="newImportView = true;">Import Mailstops</button>
			{% endif %}
		</div>

		

	</div>


	<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script src="{% static 'js/vue.js' %}"></script>
	<script src="{% static 'js/mailstop_html.js' %}"></script>


</body>

</html>