{% load staticfiles %}

<html>

<head>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Compiled and minified CSS -->
		<link href="{% static 'css/general_design.css' %}" rel="stylesheet">
		<link href="{% static 'css/manage.css' %}" rel="stylesheet">
		<!--						   -->
		<title>Cruz Mail</title>



		<header>
			<h1 class="logo"><img src="../static/img/pages/thumbnail_package.png"> Packages</h1>
			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
				<ul>
					<li><a class="nav-link" href="{% url 'menu' %}">Home</a></li>
					<li><a class="nav-link" href="{% url 'logging_out' %}">Logout</a></li>
				</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
				<span></span>
			</label>
		</header>
	</head>

<body>
	<!--...................................Header for Manage................................................................-->
	<div id="my_view">

		<div class="body" style="background-color:#305371; height:20%;"></div>

		&nbsp; &nbsp; &nbsp;<strong>Search by Tracking Number...</strong>
		<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="search_pkg">
		    ${search_pkg}
	    </textarea>

		<button v-on:click="queryPackage();" style="position:relative; left:45%; transform:translateX(-45%);">Search</button>
		<button v-on:click="advancedSearchView = !advancedSearchView" style="position:relative; left:45.5%; transform:translateX(-45.5%);">more</button>

		<!--...................................Advanced Search UI................................................................-->
		<div v-if="advancedSearchView">
			<br>&nbsp; &nbsp; &nbsp;<strong>Status</strong>
			<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="adv_status">
				<option value="yes">delivered</option>
				<option value="no">received</option>
			</textarea>

			<br>&nbsp; &nbsp; &nbsp;<strong>Name</strong>
			<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="adv_name">
				${adv_name}
			</textarea>

			<br>&nbsp; &nbsp; &nbsp;<strong>Email</strong>
			<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="adv_email">
				${adv_email}
			</textarea>

			<br>&nbsp; &nbsp; &nbsp;<strong>Mailstop</strong>
			<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="adv_mailstop">
				${adv_mailstop}
			</textarea>

			<br>&nbsp; &nbsp; &nbsp;<strong>Signature Required?</strong>
			<select class="list" style="background-color: rgb(236, 236, 250)" v-model="adv_signing">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>

			<br>&nbsp; &nbsp; &nbsp;<strong>Weight</strong>
			<textarea class="list" style="background-color: rgb(236, 236, 250)">
			</textarea>
		</div>

		<!--........................................ adding new package overlay ................................-->
		<div id="overlay" v-if="newPackageView==true">
		
			<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button" v-on:click="newPackageView=false">
					<img src="../static/img/tools/exit_button.png">
			</div>

			<div class="new_package" style="overflow:scroll; overflow-x:hidden;">

				<h1 style="text-align: center;">Order Information</h1>
				<br><strong>Tracking # *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_tracknum">
				    ${new_tracknum}
			    </textarea>

			    <!--.............................................  auto fill choice UI .....................................................-->
				<br>&nbsp;&nbsp;<strong>Recipient *</strong>  <button v-on:click="queryPerson();">Autofill</button>
				<div v-if="no_result_for_autofill">
					No name in database
				</div>

				<div class="choose_row" v-if ="auto_fill.length != 0">
					<div class = "choose_block" v-for="name in auto_fill" v-on:click = "autoFill_name(name.name, name.mailstop, name.ppl_email)">
						Name: ${name.name} <br>
						Email: ${name.ppl_email} <br>
						Mailstop: ${name.mailstop}
					</div>
				</div>
				<!--........................................................................................................................-->

				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_name">
				    ${new_name}
			    </textarea>

				<br>&nbsp;&nbsp;<strong>Mailstop *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_mailstop">
				    ${new_mailstop}
			    </textarea>

				<br>&nbsp;&nbsp;<strong>Email *</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_email">
				    ${new_email}
			    </textarea>

				<br>&nbsp;&nbsp;<strong>Signature Required?</strong>
				<select class="list" style="background-color: rgb(236, 236, 250)" v-model="new_sign">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>

				<br>&nbsp;&nbsp;<strong>Weight</strong>
				<select class="list" style="background-color: rgb(236, 236, 250)" v-model="new_weight">
					<option value="1 to 5">1 to 5</option>
					<option value="6 to 15">6 to 15</option>
					<option value="6 to 15">over 15</option>
				</select>

				<!--....................................................... dimensions .....................................................-->
				<br>&nbsp;&nbsp;<strong>Length</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_length">
				    ${new_length}
					</textarea>
				<br>&nbsp;&nbsp;<strong>Width</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_width">
				    ${new_width}
			    </textarea>  
			  <br>&nbsp;&nbsp;<strong>Height</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_height">
				    ${new_height}
					</textarea>
					<!--........................................................................................................................-->

				<br>&nbsp;&nbsp;<strong>Remark</strong>
				<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="new_remark">
				    ${new_remark}
			    </textarea>

				<br>
				<button onclick="location.reload();" v-on:click="addPackage(); newPackageView = false;" style="position:relative; left:50%; transform:translateX(-50%);">Add Package</button>
			</div>
		</div>

		<!-- Import overlay -->
		<div id="overlay" v-if="newImportView==true">
			
			<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button" v-on:click="newImportView=false;">
					<img src="../static/img/tools/exit_button.png">
			</div>
			<div class="new_import" style="overflow:scroll; overflow-x:hidden;">
				
				<h1 style="text-align: center;">Import CSV</h1>
				<form action="{% url 'import_packages' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
					{% csrf_token %}
					<div class="form-group">
							<label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
							<div class="col-md-8">
									<input type="file" name="package_csv" id="package_csv" required="True" class="form-control">
							</div>                    
					</div>
					<div class="form-group">                    
							<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
								<button v-on:click="newImportView = false;" style="position:relative; left:50%; transform:translateX(-50%);">Upload</button>
							</div> 
					</div>
					</form>
			</div>
		</div>

		<!--...................................List Of Packages................................................................-->
		<div class="list2">
			<div class="row">

				<div class="col_xtitle" style="width:30%;">

					<div style="float:left;">
						<input type="checkbox" v-on:click="change_to_true();" v-model="allTrue">
						</input>
					</div>
					Status

				</div>
				<div class="col_xtitle" style="width:35%;">
					Tracking #
				</div>
				<div class="col_xtitle" style="width:35%;">
					Mailstop
				</div>

			</div>
			<div style="border-bottom:10px;"></div>

			<div style="overflow:scroll; height: 50%; overflow-x:hidden; overflow-y:overlay;">
				<div v-for="info in Info" class="row" style="width:100%">

					<div v-if="info.index != currentView">
						<div class="col_title" style="width:30%;">	<!--MODIFY THIS RIGHT HURR-->
							<div style="float:left;">
								<input type="checkbox" v-model="info.isDelivered">
								</input>
							</div>

							<div v-on:click="currentView = info.index">
								${info.state}
							</div>
						</div>
						<div class="col_title" style="width:35%;" v-on:click="currentView = info.index">
							${info.tracking}
						</div>
						<div class="col_title" style="width:35%;" v-on:click="currentView = info.index">
							${info.mailstop}
						</div>
					</div>

					<!--..................................extra details for package if needed...................................................-->
					<div v-if="info.index == currentView">
						<!--exit button-->
						<div style="font-size:30px; margin-right:1.4%; background: red;" class="exit_button" v-on:click="currentView=-1">
							<img src="../static/img/tools/exit_button.png">
						</div>

						<!--rest of popup for package details-->
						<div class="new_package" style="overflow:scroll; overflow-x:hidden;">

							<h1 style="text-align: center;">Order Information</h1>
							
							<br>&nbsp;&nbsp;<strong>Recipient</strong>
							<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="info.name">
								${info.name}
							</textarea>

							<br>&nbsp;&nbsp;<strong>Email</strong>
							<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="info.email">
								${info.email}
							</textarea>

						<br>&nbsp;&nbsp;<strong>Weight</strong>
						<select class="list" style="background-color: rgb(236, 236, 250)" v-model="info.weight">
							<option value="1 to 5">1 to 5</option>
							<option value="6 to 15">6 to 15</option>
							<option value="6 to 15">over 15</option>
						</select>

							<br>&nbsp;&nbsp;<strong>Signature Required?</strong>
							<select class="list" style="background-color: rgb(236, 236, 250)" v-model="info.sign">
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>
						<!--....................................................... dimensions .....................................................-->
						<br>&nbsp;&nbsp;<strong>Length</strong>
						<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="info.pkg_length">
						    ${info.pkg_length}
							</textarea>
							<br>&nbsp;&nbsp;<strong>Width</strong>
						<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="info.pkg_width">
						    ${info.pkg_width}
					    </textarea>
					    <br>&nbsp;&nbsp;<strong>Height</strong>
						<textarea class="list" style="background-color: rgb(236, 236, 250)" v-model="info.pkg_height">
						    ${info.pkg_height}
					    </textarea>
					    
					    <!--........................................................................................................................-->

							<br>&nbsp;&nbsp;<strong>Date Received</strong>
							${info.date_rec}
							<br>
							<button onclick="location.reload();" v-on:click="updatePackage()" style="position:relative; left:50%; transform:translateX(-50%);">
								Update
							</button>

							
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--...................................buttons to update packages..................................................-->
		<div class="text-center">
			<button class="btn btn-primary" v-on:click="newPackageView = true;">New Package</button>
			<button class="btn btn-primary" v-on:click="packageDelivered();" onclick="location.reload();">Deliver Package</button>
      	<a href="{% url 'export_packages' %}" class="btn btn-primary">Export to CSV</a>
			<button class="btn btn-primary" v-on:click="newImportView = true;">Import CSV</button>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
	<script src="{% static 'js/vue.js' %}"></script>
	<script src="{% static 'js/package_html.js' %}"></script>


</html>